---
const { title, description, image, href, alt, button, llama } = Astro.props;
---
<div class="flex flex-col hover:scale-105 hover:shadow-lg hover:shadow-blue-600 justify-between max-w-sm h-[650px] bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href={href}>
        <img class="h-72 aspect-video rounded-t-lg" src={image} alt={alt} />
    </a>
    <div class="p-2">
        <a href="#">
            <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                {title}
            </h5>
        </a>
    </div>
    <div class="p-2">
        <p class="font-normal text-gray-700 dark:text-gray-400">
            {description}
        </p>
    </div>
        <div class="flex justify-between m-4">
            {
                button &&
                <a 
                href={href}
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                    {button}
                     <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            }
            <a 
            href="./presupuesto"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
                Presupuesto
            </a>
            {
                llama &&

                <a 
                href="tel:+34691502361"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                Llamanos
                </a>
            }
        </div>
    </div>
</div>
