---
import Documento from "../icons/Documento.astro";
import Info from "../icons/Info.astro";
import Telefono from "../icons/Telefono.astro";

const { title, description, image, href, alt, button, llama } = Astro.props;
---
<div class="flex flex-col duration-700 hover:scale-105 hover:shadow-lg hover:shadow-blue-600 justify-start max-w-xs h-[480px] bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href={href}>
        <img class="aspect-video rounded-t-lg" src={image} alt={alt} />
    </a>
    <div class="flex pl-4 mt-4">
        <a href={href}>
            <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                {title}
            </h5>
        </a>
    </div>
    <div class="flex pl-4 mt-4 flex-1">
        <p class="font-normal text-gray-700 dark:text-gray-400">
            {description}
        </p>
    </div>
        <div class="flex justify-between m-4">
            {
                button &&
                <a 
                href={href}
                class="inline-flex gap-2 items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                    <Info />
                    {button}
                </a>
            }
            <a 
            href="./presupuesto"
            class="inline-flex gap-2 items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
                <Documento />
                Presupuesto
            </a>
            {
                llama &&

                <a 
                href="tel:+34691502361"
                class="inline-flex gap-2 items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-blue-800"
                >
                    <Telefono />
                Llamanos
                </a>
            }
        </div>
    </div>
</div>
